h1,h2,h3,h4,h5,h6,p,span,b,strong{
    color:#000;
}
header{
    background-color: #fff;
}
.row .side{
    background-color:#ffffffe5;
}
.row .side a,.row .side a::before{
    color:#000;
}
.row .side a:hover{
    background-color:#d9d8df;
}
.row .main .div {
    background-color:#d9d8df;
}.side-net .div{
    background:#e2e2e2;
}
#panel,#flip{
    color:#000;
}select{
    background-color:black;
    color:white;
}input[type=text]{
    color:#000;
}.main .div .imgs img:hover{
    box-shadow:1px 1px 7px 5px #9b9b9b; 
}.form{
    background-color: #eee;
}label{
    color:black;
}