* {
    box-sizing: border-box;
}

/* body 样式 */
body {
    margin: 0;
    transition: background-color .5s;
}
a{
    text-decoration: none;
    color:#4fa7ff
}
p{
    font-size:18px;
}
.row .main .div{
    padding:10px 20px;
    border-radius:8px;
}.main .div .imgs img{
    margin:5px;
    width:200px;
    height:200px;
    transition:box-shadow 0.3s;
}.main .div .imgs{
    height:250px;
}.main .div p{
    font-size:18px
}

/* 顶部 */
header {
    overflow: hidden;
    color: white;
    padding:10px 30px;
    position:fixed;
    width:100%;
    height:70px;
    z-index:5;
}
header h2{
    margin:10px 0;
}


/* 列容器 */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap
}

/* 创建两个列 */
/* 边栏 */
.side {
    width:20%;
    padding:20px;
    top:70px;
    position:fixed;
    height:100%;
    transition:0.3s;
}
.side-net{
    padding: 20px;
    top:70px;
    position:fixed;
    right:0;
    width:30%;
    height:100%;
}

/* 主要的内容区域 */
.main {   
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    padding:20px;
}
.fakeimg a{
    display:block;
    font-family: "Unifont";
    width:100%;
    float:left;
	margin: 0.1em 0;
	padding: 0.2em;
	font-size: 1.5em;
    color:#ddc;
}
.fakeimg a::before {
	content: ">";
    font-family: "Unifont";
    color:#ddc;
	left: 0;
	display: inline-block;
	position: relative;
	margin-right: 1em;
	transition: left 0.5s;
}
.fakeimg a{
	transition: color 0.3s, background-color 0.3s;
}
.fakeimg a:hover {
	background-color: #615f5f;
}
.fakeimg a:hover::before {
	left:90%;
}
.web-tables{
    padding: 5px 10px;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.web-tables a{
    float:left;
    display: block;
    text-align: center;
    padding: 14px 20px;
}.mysxlxys{
    display:none;
}.mysxl{
    color:#000;
    background-color:#dff;
    border-radius:5px;
    padding:10px 15px;
    margin:5px 15px 5px 5px;
    box-shadow:1px 1px 5px 4px #acc;
}

@media screen and (max-width: 800px) {
    .main{
        overflow:hidden;
    }
    .xys2{
        display:none;
    }
    header h2{
        font-size:18px;
    }
}


@media screen and (max-width: 1100px){
    .xys{
        display:none;
        width:0;
        z-index:114;
    }
    .mysxlxys{
        display:block;
    }.mysxl{
        float:left;
    }
}

@media screen and (min-width:1102px){
    .main{
        padding:90px 31% 20px 21%;
    }
    .xys{
        display:block;
    }
}

@media screen and (max-width: 1100px) and (min-width:800px){
    .main{
        padding:90px 31% 20px 20px;
    }
}
@media screen and (max-width: 800px) and (min-width:550px){
    .main{
        padding:90px 20px 20px 20px;
    }
}

@media screen and (max-width: 550px) {
    .web-tables a {
        float: none;
        width: 100%;
    }
    header{
        height:120px;
        z-index:10;
    }.mac p{
        font-size:15px;
    }.main{
        padding:130px 20px;
    }.search-box{
        width:100%;
        height:20px;
    }.xys{
        top:120px;
    }
}

.web-tables a {
    background-image: linear-gradient(to right, #79a6ff, rgb(199, 139, 255)); /* 从左到右的渐变色 */
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 0 2px; 
    color:#fff; 
    transition: background-size 300ms ease-in-out; 
}

.web-tables a:hover {
    background-size: 100% 2px; 
    color:#93beff; 
}

.left-web-tables{
    padding: 5px 10px;
    overflow: hidden;
    width: 100%;
}
.left-web-tables a{
    display: block;
    padding: 14px 20px;
    color:#ddc;
    transition: color 0.3s, background-color 0.3s;
    border-radius:10px;
}
.left-web-tables a:hover{
    background-color:#615f5f;
}
.side-net .div{
    border-radius:8px;
    padding:20px;
    text-align:center;
}
#panel,#flip{
    margin:0;
	padding:10px;
	text-align:center;
}
#panel{
	display:none;
}
.nav {
    padding:20px;
    float:right;
}
.search-box{
    float:right;
    height:52px;
    border-radius:8px;
    border:1px solid #4fa7ff;
    padding:0;
}
input {
    border:none;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    outline:none;
    height:40px;
    background:none;
}
.form{
    border-radius:8px;
    padding:20px;
}
.label {
    background-color:DodgerBlue;
    color: #fff;
    width:70px;
    height:50px;
    border:none;
    border-radius:0 8px 8px 0
}input[name=crwgusername],input[name=Email],textarea{
    border-radius:5px;
    outline:none;
}input[name=name],input[name=yzm],textarea{
    border-radius:5px;
    outline:none;
    margin:5px 0;
}
textarea{
    padding:10px;
    font-size:17px;
    font-family:sans-serif;
    max-width:340px;
    min-width:100px;
    max-height:500px;
}.reply{
    border-radius:5px;
    width:100px;
    height:30px;
    border:none;
    box-shadow:1px 1px 4px 5px #b8c9ff;
    background-color:#a8b9ff;
}#error{
    color:red;
    font-size:15px;
    font-weight:600;
}
.video{
    width:100%;
}
.mac{
    position:fixed;
    bottom:5%;
    padding:10px;
    background-color:#ffffffcc;
    width:100%;
    text-align:center;
}
